*
    box-sizing: border-box

html
    background: #ececec

body
    font-family: 'Inter', sans-serif
    width: 100%
    margin: 0
    padding: 0
    min-height: 100vh
    color: #333333
    user-select: none

a
    text-decoration: none
    color: #121212c5
    &:visited
        color: #121212c5
