.controlIcon
    width: 35px
    height: 35px
    cursor: pointer
    opacity: 0.7
    transition: 250ms ease

    &:hover 
        opacity: 0.9    

.withmenu 
    position: relative

.menu
    right: 0
    position: absolute
    opacity: 1
    transition: 100ms ease-out

.menu_closed
    opacity: 0
    z-index: -1